.game {
    height: calc(100vh - 100px);
    margin-top: 100px;
    position: relative;
}

.game__header {
    display: flex;
    align-items: center;
}

.game__title {
    margin-right: 20px;
}

.game__nav {
    display: flex;
    margin-top: 7px;
}

.game__nav-link {
    cursor: pointer;
    margin: 0 10px;
    transition: all .2s ease;
}

.game__nav-link:hover {
    opacity: 0.9;
}

.game__nav-link--active {
    -webkit-transform: rotate(10deg); 
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: right bottom; 
    -ms-transform-origin: right bottom; 
    transform-origin: right bottom;
}