.skills__title {
    margin-bottom: 30px;
}

.skills__list {
    width: 100%;
    max-height: 62.5vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skills__item {
    width: 20%;
    padding: 30px 60px;
    position: relative;
}

.skills__icon {
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease;
}

.skills__icon--active {
    opacity: 1;
}

.skills__block {
    position: relative;
}

.skills__loader {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity .2s ease;
    animation: loaderOpacity 2s linear infinite;
}

.skills__loader--closed {
    opacity: 0;
    animation: none;
}

@keyframes loaderOpacity {
    0% {
        opacity: 1;
    }

    50%{
        opacity: .6;
    }

    100%{
        opacity: 1;
    }
}

@media (max-width: 1150px) {
    .skills__item {
        width: 25%;
        padding: 60px;
    }
}

@media (max-width: 910px) {
    .skills__item {
        padding: 40px;
    }
}

@media (max-width: 660px) {
    .skills__item {
        width: 33.3%;
        padding: 30px;
    }
}

@media (max-width: 420px) {
    .skills__item {
        width: 33.3%;
        padding: 20px;
    }
}


@media (max-width: 376px) {
    .skills__item {
        width: 50%;
        padding: 20px;
    }
}
