body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}
