body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    color: #fff;
    line-height: 1.4;
    background: url(https://cdn.gambit-rp.ru/wcloud/upload/photos/2021/03/VWe2JPLCdlXfCMMSdxhT_31_833f9be2a7447d7de8af96df5a2dc1d7_cover_full.jpg) no-repeat center center fixed;
    background-size: cover;
}

.hide {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    word-break: break-word;
}

.wrapper {
    background-color: rgba(70, 0, 71, 0.6);
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0px auto;
    padding: 0 20px;
    position: relative;
}

.section {
    width: 100%;
    height: 100vh;
    
    margin-top: 110px;
}