.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #502d00, #470650);
    position: absolute;
    z-index: 12;
    transform: translateY(100%);
    transition: all 1.5s ease 1.85s;
}

.loader--open {
    transform: translateY(0);
}

.loader__ring {
    display: inline-block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
}

.loader__ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader__ring 1.2s linear infinite;
}

.loader__ring--closed {
    opacity: 0;
}

.loader__titleBlock {
    transform: translateY(500px);
    transition: all 1.75s ease 1.7s;
}

.loader__title {
    padding: 0 50px;
    font-weight: normal;
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease, translateY 2s ease 1s;
}

.loader__title--show {
    opacity: 1;
}

@keyframes loader__ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 376px) {
    .loader__title {
        font-size: 25px;
    }
}